.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 6.4rem;
}

.logoLink{
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-decoration: none;
}

.logoLink:hover{
    filter: brightness(50%);
    transition: all 0.2s ease-in-out;
}

.logoLink svg{
    width: 4.4rem;
    height: 4.4rem;
}