.inputhome{
    background-color: transparent;
    color: var(--text-default);
    border: 0.2rem solid transparent;
    border-bottom: 0.2rem solid var(--primary);
    font-size: 1.6rem;
    padding: 0.8rem;
    text-align: center;
    outline: none; /* remover a borda de foco */
}

input:focus{
    border: 0.2rem solid var(--primary);
    border-radius: 0.8rem;
    transition: all 0.2s ease-in;
}

input::placeholder{
    color: var(--gray-500);
    font-size: 1.4rem;
    font-style: italic;
}