.button{
    display: flex;
    background-color: var(--primary);
    color: var(--text-over-primary);
    border: none;
    justify-content: center;
    align-items: center;
    min-width: 24rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    margin: 3.2rem 0;
}

.button svg{
     width: 3.2rem;
     height: 3.2rem;
}

.button:hover{
    filter:brightness(80%);
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}

.green{
    background-color: var(--primary);
    color: var(--text-over-primary);
}
.red{
    background-color: var(--error);
    color: var(--text-over-error);
}